<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/button.css">
<body>
    <header>
        <div class="logo">
            <img src="/img/star-solid.svg" alt="Star">
            <h2>selfcare</h2>
        </div>
        <div class="icon">
            <img src="/img/search-solid.svg" alt="Search">
            <a href="/login"><img src="/img/user-solid.svg" alt="User"></a>
            <img src="/img/shopping-cart-solid.svg" alt="Shop">
        </div>
    </header>

    <div class="banner">
        <img src="/img/banner.png" alt="Banner">
    </div>
    <div class="info-top">
        <p>PROMOÇÃO</p>
        <p id="quant-product"><%= data2.length %> produtos</p>
    </div>

    <div id="btn-info">
        <button data-id="0">All</button>
        <% data1.forEach(category => { %>
            <button data-id="<%= category.id %>"><%= category.title %></button>
        <% }) %>
    </div>

    <main>
        <section class="cards">
            <% data2.forEach(product => { %>
                <div class="card" id="card" data-categoryId="<%= product.categoryId %>">
                    <div class="image">
                        <img src="<%= product.image %>"/>
                    </div>
                    <div class="content">
                        <p class="title"><%= product.title %></p>
                        <p class="value">R$ <%= product.price %></p>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>

    <footer>
        <div class="info-footer">
            <div class="info">
                <a href="#">Contato</a><br>
                <a href="#">Termos de serviço</a><br>
                <a href="#">Política de privacidade</a><br>
                <a href="#">Cancelamento, troca e reembolso</a>
            </div>

            <div class="news">
                <p>Newsletter</p>
                <input type="text" placeholder="Digite seu e-mail">
                <button>Inscrever</button>
            </div>
        </div>
        <div class="info-social">
            <div>
                <a href="https://instagram.com">
                    <img src="/img/instagram-brands.svg" alt="Instagram">
                </a>
                <a href="https://facebook.com">
                    <img src="/img/facebook-square-brands.svg" alt="Facebook">
                </a>
            </div>
            <div>
                <p>pagamento</p>
            </div>
        </div>
    </footer>

    <script>
        var btnElement = document.querySelectorAll("button")
        var cardElement = document.querySelectorAll("div#card")

        var id

        btnElement.forEach(e => {
            e.addEventListener("click", () => {
                var id = e.dataset.id
                checkId(id)
            })
        })

        function checkId(id) {  
            cardElement.forEach(e => {
                if(e.dataset.categoryid == id) {
                    e.style.display = "initial"
                } else {
                    e.style.display = "none"
                }
            })
        }
    </script>
</body>
</html>