<%- include ("../../partials/header.ejs") %>
<link rel="stylesheet" href="/style/table.css">
<link rel="stylesheet" href="/style/navbar.css">
<link rel="stylesheet" href="/style/products.css">
<body>
    <%- include ("../../partials/navbar.ejs") %>

    <div class="container">
        <a href="/admin/products/new" class="create">Adicionar novo produto</a>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>CategoryId</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(product => { %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.title %></td>
                        <td><%= product.slug %></td>
                        <td><%= product.categoryId %></td>
                        <td>
                            <a href="/admin/products/edit/<%= product.id %>" class="edit">Editar</a>
                            <form action="/products/delete" method="POST">
                                <input type="text" name="id" value="<%= product.id %>" hidden>
                                <button type="submit" class="delete">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>